# Docker images

## Last versions

{{- range $value := . }}
- {{.Name}}: {{ if .Versions }}{{ (index .Versions 0) }}{{ else }}{{ (index .RawTags 0) }}{{ end }}
{{- end }}

## All versions

{{- range $value := . }}
- {{.Name}}: {{ if .Versions }}{{ .Versions }}{{ else }}{{ .RawTags }}{{ end }}
{{- end }}
